body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #020b2d;
  color: #e0f2ff;
}

header {
  text-align: center;
  padding: 40px;
  background: linear-gradient(180deg, #020b2d, #041a4d);
}

section {
  padding: 30px;
  border-bottom: 1px solid #0a2a66;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #4fd1ff;
}

/* Anpassungen */

li {
  margin-bottom: 15px; /* Abstand zwischen <li> Elementen */
}

br {
  margin-bottom: 15px; /* Abstand nach jedem <br> */
}

h3 {
  margin-top: 20px; /* Abstand vor jedem <h3> */
}

img {
  max-width: 100%; 
  max-height: calc(80vh); 
  object-fit: cover; 
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.4);
}

a {
  color: #7fffd4;
}

footer {
  text-align: center;
  padding: 20px;
  background: #01071a;
}
